.footer {
    font-size: 12px;
    background-color: #545c64;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #ffffff;
    width: 100%;
    bottom: 0;
}

.footer .footer1 {
    margin: 0 25px;
}

.footer1 div:first-child {
    margin-bottom: 10px;
}
.el-footer {
    --el-footer-padding: 0;
}